
/* hello */

body {
    font-family:'Arial','Heiti SC','Microsoft Yahei',simsun,sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding-top: 60px;
    padding-bottom: 40px;
}

label,
input,
button,
select,
textarea {
    font-size: 16px;
}


textarea
{
    height: 280px;
    width: 90%;
}

select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    height: 30px;
}

/* disable pnotify's redisplay menu */
.ui-pnotify-history-container {
    display: none;
}

.dataTables_processing {
    background-color: #1c2a80;
    border: 1px solid #ddd;
    color: #ffffff;
    font-size: 34px;
    height: 60px;
    left: 50%;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 30%;
}

/* ----------------- Panda Table ----------------------- */
#pandas tbody tr.even:hover, #entities tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

#panda.table-striped tbody > tr:nth-child(odd),
#panda.table-striped tbody > tr:nth-child(odd),
#pandas tbody tr.odd:hover,
#pandas tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

#pandas tr.even:hover {
	background-color: #ECFFB3;
}

#pandas tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

#pandas tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

#pandas tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

#pandas.table-striped tbody > tr.odd:hover > td,
#pandas.table-striped tbody > tr.odd:hover > th,
#pandas tr.odd:hover {
	background-color: #E6FF99;
}

#pandas tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

#pandas tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

#pandas tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}

/* ----------------- Entity Table ----------------------- */
table[id^='entity'] tr.even:hover {
    background-color: #ECFFB3;
}

table[id^='entity'] tr.even:hover td.sorting_1 {
    background-color: #DDFF75;
}

table[id^='entity'] tr.even:hover td.sorting_2 {
    background-color: #E7FF9E;
}

table[id^='entity'] tr.even:hover td.sorting_3 {
    background-color: #E2FF89;
}


table[id^='entity'].table-striped tbody > tr.odd:hover > td,
table[id^='entity'].table-striped tbody > tr.odd:hover > th,
table[id^='entity'] tr.odd:hover {
    background-color: #E6FF99;
}

table[id^='entity'] tr.odd:hover td.sorting_1 {
    background-color: #D6FF5C;
}

table[id^='entity'] tr.odd:hover td.sorting_2 {
    background-color: #E0FF84;
}

table[id^='entity'] tr.odd:hover td.sorting_3 {
    background-color: #DBFF70;
}


/* Navigation Bar */
.navbar .nav > li > span {
    display: block;
    float: none;
    padding: 10px 15px 10px;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    font-weight:bold;
}

.btn-negative {
  display: inline-block;
  *border-left: 0 none #e6e6e6;
	border-right: 0 none #e6e6e6;
	border-top: 0 none #e6e6e6;
	border-bottom: 0 none #b3b3b3;
	display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
  *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
  background-color: #235ab0;
    background-repeat: repeat-x;
  *-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-image: linear-gradient(to bottom, #ffffff, #235ab0);
}

.btn-negative:hover,
.btn-negative:focus {
  color: #333333;
  background-color: #1b4587;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn-negative:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn-prev,
.btn-next,
.btn-positive {
  display: inline-block;
  *border-left: 0 none #e6e6e6;
	border-right: 0 none #e6e6e6;
	border-top: 0 none #e6e6e6;
	border-bottom: 0 none #b3b3b3;
	display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
  *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
  background-color: #373232;
    background-repeat: repeat-x;
  *-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-image: linear-gradient(to bottom, #ffffff, #373232);
}

.btn-prev:hover,
.btn-next:hover,
.btn-prev:focus,
.btn-next:focus,
.btn-positive:hover,
.btn-positive:focus {
  color: #333333;
  background-color: #282525;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn-prev:focus,
.btn-next:focus,
.btn-positive:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn-space {
  display: inline-block;
  border-left: 2px solid #e6e6e6;
	border-right: 2px solid #e6e6e6;
	border-top: 2px solid #e6e6e6;
	border-bottom: 2px solid #b3b3b3;
	display: inline;
    padding: 4px 12px;
	margin-top: 2px;
    margin-bottom: 2px;
  margin-left: 10px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
  background-color: #e6e6e6;
    background-repeat: repeat-x;
  *-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);*
}

.btn-space:hover,
.btn-space:focus,
.btn-space:active,
.btn-space.active,
.btn-space.disabled,
.btn-space[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn-space:active,
.btn-space.active {
  background-color: #cccccc \9;
}

.btn-space:first-child {
  *margin-left: 0;
}

.btn-space:hover,
.btn-space:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn-space:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn-space.active,
.btn-space:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-space.disabled,
.btn-space[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

/* Training Buttons */
.btn-training:hover,
.btn-training:focus,
.btn-training:active,
.btn-training.active,
.btn-training.disabled,
.btn-training[disabled] {
    color: #ffffff;
    background-color: #13cc18;
    *background-color: #13cc18;
}

.btn-training:active,
.btn-training.active {
    background-color: #13cc18;
}

/* Modal dialog for showing panda detail*/
.modal.large {
    width: 80%; /* respsonsive width */
    margin-left:-40%; /* width/2) */
}

/*
 * d3 bar chart
 */
div#panda-detail {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
}

div#panda-detail .axis text {
    font: 10px sans-serif;
}

div#panda-detail .axis path,
div#panda-detail .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/*
div#panda-detail .bar {
    fill: steelblue;
    fill-opacity: .9;
}
*/

div#panda-detail .x.axis path {
    display: none;
}

div#panda-detail label {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* tooltip for mouse hover */
/*
#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
*/

/* */
/*
.pandaInnerDetails div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: black;
}

.pandaInnerDetails rect {
    stroke: white;
    fill: steelblue;
}
*/

/* nv3d style */
svg {
    display: block;
}

svg{
    height: 200px;
    min-width: 100px;
    min-height: 100px;
    /*
      margin: 10px;
      Minimum height and width is a good idea to prevent negative SVG dimensions...
      For example width should be =< margin.left + margin.right + 1,
      of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
    */
}

svg.testing-result {
    height: 300px;
    min-width: 200px;
    min-height: 200px;
}
